# You probably don't want to change these three properties
db.host=warehouse.mit.edu
db.port=1521
db.sid=DWRHS

# Fill this in with your Data Warehouse account details
# You can request an account here: https://ist.mit.edu/business/warehouse/access
db.username=username_goes_here
db.password=password_goes_here

# You should change this. It's used to authenticate requests to the server.
auth.token=changeme