# Ports to run on. Set a port to 0 if you want to disable that service.
app.httpPort=7000
app.httpsPort=0

# Path to keystore with HTTPS certificate. See https://danielflower.github.io/2017/04/08/Lets-Encrypt-Certs-with-embedded-Jetty.html for setup instructions
https.keystore=keystore.p12
https.keystorePassword=password

# You probably don't want to change these three properties
db.host=warehouse.mit.edu
db.port=1521
db.sid=DWRHS

# Fill this in with your Data Warehouse account details
# You can request an account here: https://ist.mit.edu/business/warehouse/access
db.username=username_goes_here
db.password=password_goes_here

# You should change this. It's used to authenticate requests to the server.
auth.token=changeme